# Python Basics

## Whitespace Is Important

In [4]:
listOfNumbers = [1, 2, 3, 4, 5, 6]

for number in listOfNumbers:
    print(number),
    if (number % 2 == 0):
        print("is even")
    else:
        print("is odd")
        
print("All done.")

1
is odd
2
is even
3
is odd
4
is even
5
is odd
6
is even
All done.

## Importing Modules

In [6]:
import numpy as np

A = np.random.normal(25.0, 5.0, 10)
print(A)

[ 25.41266988  23.67086652  15.84678516  22.02094294  22.82277113
  25.33513991  17.99850619  24.65547385  36.20503065  24.13079789]

## Lists

In [10]:
x = [1, 2, 3, 4, 5, 6]
print(len(x))

6

In [12]:
x[:3]

[1, 2, 3]

In [11]:
x[3:]

[4, 5, 6]

In [14]:
x[-2:]

[7, 8]

In [15]:
x.extend([7,8])
x

[1, 2, 3, 4, 5, 6, 7, 8, 7, 8]

In [16]:
x.append(9)
x

[1, 2, 3, 4, 5, 6, 7, 8, 7, 8, 9]

In [17]:
y = [10, 11, 12]
listOfLists = [x, y]
listOfLists

[[1, 2, 3, 4, 5, 6, 7, 8, 7, 8, 9], [10, 11, 12]]

In [19]:
y[1]

11

In [31]:
z = [2, 3, 1]
z.sort()
z

[1, 2, 3]

In [12]:
z.sort(reverse=True)
z

[3, 2, 1]

## Tuples

In [39]:
#Tuples are just immutable lists. Use () instead of []
x = (1, 2, 3, 3)
len(x)

4

In [36]:
y = (4, 5, 6)
y[-1]

6

In [15]:
listOfTuples = [x, y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [41]:
(age, income) = "32,120000".split(',')
print(age)
print(income)

32
120000

## Dictionaries

In [42]:
# Like a map or hash table in other languages
captains = {}
captains["Enterprise"] = "Kirk"
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print(captains["Voyager"])

Janeway

In [43]:
print(captains.get("Enterprise"))

Kirk

In [44]:
print(captains.get("NX-01"))

None

In [46]:
for ship in captains:
    print(ship + ": " + captains[ship])

Enterprise D: Picard
Voyager: Janeway
Enterprise: Kirk
Deep Space Nine: Sisko

## Functions

In [50]:
def SquareIt(x):
    return x * x

print(SquareIt(2))

4

In [51]:
#You can pass functions around as parameters
def DoSomething(f, x):
    return f(x)

print(DoSomething(SquareIt, 3))

9

In [52]:
#Lambda functions let you inline simple functions
print(DoSomething(lambda x: x * x * x, 3))

27

## Boolean Expressions

In [24]:
print(1 == 3)

False

In [48]:
print((True or False))

True

In [49]:
print(1 is 3)

False

In [59]:
if 1 == 3:
    print("How did that happen?")
elif 1 > 3:
    print("Yikes")
else:
    print("All is well with the world")

All is well with the world

## Looping

In [68]:
for x in range(10):
    print(x),
print("a")

0
1
2
3
4
5
6
7
8
9
a

In [69]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 5):
        break
    print(x),

0
2
3
4
5

In [78]:
x = 0
while (x < 10):
    print(x),
    x += 2

0
2
4
6
8

## Activity

Write some code that creates a list of integers, loops through each element of the list, and only prints out even numbers!

In [3]:
l = []
for i in range(20):
    l.append(i + 1)
    
print(l)

x = 0
while x < 10:
    if (l[x] % 2 is not 0):
        print("Odd: ", l[x])
    else: 
        print("Even: ", l[x])
    x += 1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Odd:  1
Even:  2
Odd:  3
Even:  4
Odd:  5
Even:  6
Odd:  7
Even:  8
Odd:  9
Even:  10